@model asp_net_mvc_crud_reusing_partial_view.Models.Supplier

@{
    ViewBag.Title = "Delete";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            @ViewBag.Title
            <a href="@Url.Action("Index")" class="btn btn-sm btn-outline-dark float-end">Back to List</a>
        </h5>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <fieldset disabled="">
                @Html.Partial("Form", Model)
            </fieldset>
            <div class="mb-3">
                <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
            </div>
        }
    </div>
</div>