@model asp_net_mvc_crud_reusing_partial_view.Models.Customer
<div class="mb-3">
    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "form-label" })
    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
</div>

<div class="mb-3">
    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "form-label" })
    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
</div>

<div class="mb-3">
    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "form-label" })
    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
</div>

<div class="mb-3">
    @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "form-label" })
    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
</div>

<div class="mb-3">
    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "form-label" })
    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
</div>