@model asp_net_mvc_crud_reusing_partial_view.Models.Order

@{
    ViewBag.Title = "Details";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            @ViewBag.Title
            <a href="@Url.Action("Index")" class="btn btn-sm btn-outline-dark float-end">Back to List</a>
        </h5>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <fieldset disabled="">
                @Html.Partial("Form", Model)
            </fieldset>
            <div class="mb-3">
                <a href="@Url.Action("Edit", new { ID = Model.ID})" class="btn btn-sm btn-warning">Edit</a>
            </div>
        }
    </div>
</div>